<!DOCTYPE html>
<html ng-app="moeriism">
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ng-include src="'navigation/navbars'"></ng-include>
  <%= yield %>

</body>
</html>
